---
import astro from '../../icons/astro.svg';
import typescript from '../../icons/typescript.svg';
import react from '../../icons/react.svg';
import netlify from '../../icons/netlify.svg';
import github from '../../icons/github.svg';
import profile from '../../icons/profile.svg';
import email from '../../icons/email.svg';
---

<style>
  footer {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(white, 10%, black);
    posiiton: fixed;
    bottom: 0px;
  }

  img {
    height: 0.8em;
    vertical-align: middle;
  }


  .invert {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
  }

  .footerItem {
    color: var(--accent);
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0 2em;
  }

  .footerItem:hover {
    box-shadow: 0em 0em 0.1em white;
    background-color: hsla(42, 100%, 80%, 0.5);
    color: black;
  }

  /* hide text in link elements below 900px */
  @media only screen and (max-width: 900px) {
    .footerText   {
      display: none;
    }
    img {
      height: 15px;}
  }
</style>

<footer>
    
    <a
    class="footerItem"
    href="https://astro.build/"
    aria-label="Link to astro.build"
    >
    <img src={astro} alt="astro logo" /> <span class="footerText">astro</span></a
    >
    <a
    class="footerItem"
    href="https://typescriptlang.org/"
    aria-label="link to typescriptlang.org"
    ><img
    src={typescript}
    alt="typescript logo"
    /> <span class="footerText">TypeScript</span></a
    >
    <a
    class="footerItem"
    href="https://reactjs.org/"
    aria-label="link to reactjs.org"
    ><img
    src={react}
    alt="react logo"
    /> <span class="footerText">React</span></a
    >
    <a
    class="footerItem"
    href="https://netlify.com/"
    aria-label="link to netlify.com"
    ><img src={netlify} alt="netlify logo" /> <span class="footerText">Netlify</span></a
    >
    <a
    class="footerItem"
    href="https://github.com/ccozens/astro-mol-bio-tools"
    aria-label="link to github.com/ccozens/astro-mol-bio-tools"
    ><img class="invert" src={github} alt="github logo" /> <span class="footerText">Code</span></a
  >
  <a
    class="footerItem"
    href="www.chriscozens.uk"
    aria-label="link to my personal page: www.chriscozens.uk"
    ><img
      class="invert"
      src={profile}
      alt="profile logo"
    /> <span class="footerText">About me</span></a
  >
  <a
    class="footerItem"
    href="mailto: officechrisgarden@gmail.com"
    aria-label="email link to officechrisgarden@gmail.com"
    ><img class="invert" src={email} alt="email logo" /> <span class="footerText">Email</span></a
  >
</footer>
