---
import '../styles/global.css';

const proteinTools = [
  [
    'One -> three / three -> one letter amino acid codes',
    'protParams',
  ],
  ['Calculate MW', 'protParams'],
  ['Calculate Extinction coefficients', 'protParams'],
  ['Count amino acids', 'protParams'],
  ['Trypsin digest', 'trypsin'],
];
const dnaTools = [
  ['Translate DNA to protein', 'translate'],
  ['Transcribe DNA to RNA', 'transcribe'],
  ['Reverse complement DNA', 'reverseComplement'],
  ['DNA/RNA MW', 'dnaParams'],
  ['Count Nucleotides', 'dnaParams'],
  ['Calculate GC ratio', 'dnaParams'],
];
const resources = [
  ['Amino acid weights', 'resources'],
  ['Nucleotide weights', 'resources'],
  ['Codon tables', 'resources'],
];
---

<style>
  /* container styles */
  .nav-links {
    margin: 0 auto;
    width: 80vw;
    box-shadow: 0em 0em 0.3em white;
    border-radius: 0.5em;
    display: flex;
    align-content: center;
    background-color: var(--box-fill);
  }

  /* item styles */
  .toolSection {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    width: 90%;
    margin: 10px 0px;
  }

  /*-buttons styling */
  .navItem {
    display: block;
    width: 80%;
    margin: 0.5em auto;
    padding: 0.5em 0.1em;
    background-color: var(--box-fill);
    border: solid 1px var(--box-border);
    box-shadow: 0em 0em 0.3em var(--box-border);  
    border-radius: 0.5em;
    text-decoration: none;
    color: var(--main);
    font-size: 1.2em;
    font-weight: 500
  }
  
  .navItem:hover {
    box-shadow: 0em 0em 0.3em white;
    background-color: var(--box-highlight);
    color: var(--bg-blue);
  }

  


</style>


<div class="nav-links">
  <section class="toolSection">
    <h2 class="section-h2">Protein tools</h2>
    <div class="section-buttons">
      {
        proteinTools.map((tool) => (
          
            <a class="navItem" href={tool[1]}>{tool[0]}</a>
          
        ))
      }
    </div>
  </section>
  <section class="toolSection">
    <h2 class="section-h2"> DNA tools</h2>
    <div class="section-buttons">
      {
        dnaTools.map((tool) => (
          
            <a class="navItem" href={tool[1]}>{tool[0]}</a>
          
        ))
      }
    </div>
  </section>
  <section class="toolSection">
    <h2 class="section-h2"> Resources</h2>
    <div class="section-buttons">
      {
        resources.map((tool) => (
            <a class="navItem" href={tool[1]}>{tool[0]}</a>
        ))
      }
    </div>
  </section>
</div>
